{% extends 'base.html.twig' %}

{% block title %}Mots{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : index.html.twig
Auteurs : Alberto, Étienne Ménard
Fonctionnalité : Gestionnaire de mots
Date : 26/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
...
=========================================================
****************************************/-->

<main>
   

    
    <h1 class="wordTitle">Gestionnaire des mots</h1>
    
    <h2 class="wordAddSubtitle">Ajout de mots</h2>
    <section class="wordAddForm">
        {% for message in app.session.flashbag.get('addition') %}
            <h3>{{ message }}</h3>
            <script>
                 sendEvent({{app.user.id}}, 12, "Un mot a été ajouté par un administrateur le : [date]"); 
            </script>
        {% endfor %}
        {{ form(form) }}
        {% for message in app.session.flashbag.get('supprimer') %}
        <h3>{{ message }}</h3>
            <script>
                 sendEvent({{app.user.id}}, 13, "Un mot a été supprimé par un administrateur le : [date]"); 
            </script>
    {% endfor %}
    </section>

    <h2 class="wordDicSubtitle">Mots dans le dictionnaire</h2>
    <section class="flexWordDic">
    {% for element in listMots %}
        <div class="flexWord">
            <p>{{element.mot}}</p>
            <a href="/GestionDuJeu/{{element.id}}">Statistiques</a>
        </div>
        {% endfor %}
        <div class="dicNav"></div>
    </section>

    <h2 class="wordPropSubtitle">Mots proposés</h2>
    <section class="flexWordProp">

  
    {% for message in app.session.flashbag.get('accepter') %}
        <h3>{{ message }}</h3>
            <script>
                 sendEvent({{app.user.id}}, 12, "Un mot a été accepté par un administrateur le : [date]"); 
            </script>
    {% endfor %}
    {% for message in app.session.flashbag.get('refuser') %}
        <h3>{{ message }}</h3>
            <script>
                 sendEvent({{app.user.id}}, 13, "Un mot a été réfusé par un administrateur le : [date]"); 
            </script>
    {% endfor %}
    
    {% for element in listeMotsSuggere %}
    <div class="flexWordSugg">
        <p>{{element.motsuggere}}</p>
        <div class="wordSuggBtn">
            <button type="button" class="btn btn-success" onclick="window.location.href='/GestionDuJeu/acceptSuggestion?id={{element.id}}'">Accepter</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/GestionDuJeu/refuseSuggestion?id={{element.id}}'">Refuser</button>
        </div>
    </div>
    {% endfor %}

    <div class="propNav"></div>
    </section>
</main>
        
<script>
    // sendEvent(,7, "Ajout d'un mot ");
</script>
{% endblock %}

