{% extends 'base.html.twig' %}

{% block title %}Gestion du jeu{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : index.html.twig
Auteurs : Alberto, Étienne Ménard
Fonctionnalité : Gestionnaire de mots
Date : 26/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
...
=========================================================
****************************************/-->

<main>
    
    
    <h1 class="wordTitle">Gestionnaire des mots</h1>
    {% for message in app.session.flashbag.get('action') %}
        <h2>{{ message }}</h2>
    {% endfor %}
    <section class="wordAdd">
    

    {{ form(form) }}
    </section>

    <section class="wordDic">
    <h4> Mots dans le dictionnaire: </h4>
    <ul>
        {% for element in listMots %}
        <div class="wordDicDiv">
            <li class="wordDicWord">{{element.mot}}<button type="button" class="btn btn-primary wordStatBtn" onclick="window.location.href='/GestionDuJeu/{{element.id}}'">Statistiques</button></li>
        </div>
        {% endfor %}
    </ul>
    </section>

    <section class="wordProp">
    <h4> Mots proposés: </h4>
    {% if app.flashes('delete') %}
        <script>
            sendEvent(1, 1, "testdelete");
        </script>
    {% endif %}
    {% for message in app.session.flashbag.get('action') %}
        <h2>{{ message }}</h2>
    {% endfor %}
    <ul>
        {% for element in listeMotsSuggere %}
            <li>{{element.motsuggere}}
            <button type="button" class="btn btn-success" onclick="window.location.href='/GestionDuJeu/acceptSuggestion?id={{element.id}}'">Accepter</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/GestionDuJeu/refuseSuggestion?id={{element.id}}'">Refuser</button>
            </li>
        {% endfor %}
    </ul>
    </section>
</main>
        
<script>
    // sendEvent(,7, "Ajout d'un mot ");
</script>
{% endblock %}

