{% extends 'base.html.twig' %}

{% block title %}Statistique d'un mot{% endblock %}


{% block body %}
<main>
    <h1>{{mot}}</h1>
    <button>Supprimner</button>
    <ul>
        <li>Nombre de fois joué : {{nbFoisJoue}}</li>
        <li>Nombre de fois joué : {{nbFoisJoue}}</li>
        <li>Nombre de fois joué : {{nbFoisJoue}}</li>
        <li>Nombre de fois joué : {{nbFoisJoue}}</li>
    </ul>
<main>
{% endblock %}

