{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block body %}
<!-- /****************************************
Fichier : index.html.twig
Auteurs : Isabelle Rioux, Étienne Ménard
Fonctionnalité : Template d'affichage de la liste d'utilisateurs
Date : 21/04/2022
Vérification :
Date Nom Approuvé
=========================================================
Historique de modifications :
Date: 25/04/2022 Nom: Isabelle Rioux Description: Affichage de la liste de joueurs
Date: 26/04/2022 Nom: Isabelle Rioux Description: Ajout de la recherche d'un joueur
Date: 26/04/2022 Nom: Étienne Ménard Description: Application du CSS
Date: 27/04/2022 Nom: Étienne Ménard Description: Modification du titre de la page
Date: 28/04/2022 Nom: Isabelle Rioux Description: Pagination de la liste de joueurs
Date: 28/04/2022 Nom: François-Nicolas Gitzhofer Description: Ajout du formulaire pour l'ajout d'utilisateurs par fichier JSON
...
=========================================================
****************************************/-->

<main>
    <h1 class="userTitle">Liste des utilisateurs</h1>

    <section class="flexUserSearch">
        {{form(form_user)}}
    </section>

    <section class="flexUserRes">
    {% for user in list_users %}
    <div class="flexUser">
        <p class="userName">{{user.username}}</p>
        <p class="userStatut">{{user.idStatut.statut}}</p>
        <a class="userLink" href="/user/{{user.id}}">Afficher le profil</a>
    </div>
    {% endfor %}

    {% if page != 1 %}
        <a href="/users/{{page - 1}}">Page précédente</a>
    {% endif %}
    {% if nbPage > page %}
        <a href="/users/{{page + 1}}">Page suivante</a>
    {% endif %}
    </section>

    <section class="flexUserFile">
        {{form(form_file)}}
    </section>
</main>
{% endblock %}
