{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<main>
<h1>Chargement...</h1>
{% if eventType is defined %}
<script>

    function redirectTo(whereTo) {
        window.location.href = 'http://localhost:8000' + whereTo;
    }

    body = document.getElementsByTagName("BODY")[0];
    body.style.display = "none";

    document.addEventListener('historicSent', function() {
        body.removeAttribute("style");
        redirectTo("{{whereTo}}");
    });

    userId = {{app.user.getId()}};

    eventType = {{eventType}};

    message = "";

    switch (eventType) {

        case 2:
            message = "L'utilisateur {{app.user.getUsername()}} s'est connecté le [date]";
            break;
        case 3:
            message = "L'utilisateur {{app.user.getUsername()}} s'est déconnecté le [date]";
            break;
        case 9:
            message = "L'utilisateur {{user.getUsername()}} a ";
            if ({{win}}) {
                message += "gagné";
            }
            else {
                message += "perdu";
            }
            message += "en essayant de deviner le mot {{mot.getMot()}} le [date]";
            break;
    }

    sendEvent(userId, {{eventType}}, message);
</script>
{% else %}

<ul>
    <li>
        User id: {{userId}}
    </li>
    <li>
        Event type: {{typeEvent}}
    </li>
</ul>

{% endif %}

</main>

{% endblock %}
